html {
    scroll-behavior: smooth;
}

body {
    background: #2C2C2C ; 
}

a {
    text-decoration: none;
    color: #966335;
}

h1,
h2,
h3,
p {
    margin: 0;
}

h1,
h2,
h3 {
    font-family: 'Cormorant Garamond';
}

p,
span,
a {
    font-family: 'Montserrat Alternates';
}

button {
    font-family: 'Montserrat Alternates'
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

#menu {
    scroll-margin-top: 120px;
}

img {
    max-width: 100%;
    display: block;
}

.header {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 1100px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    padding: 15px 25px;
    border-radius: 20px;
    
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);

    z-index: 1000;
}

.header-container {
    display: flex;
    align-items: center;
}

.logo {
    color: #BC8554;
    font-size: 35px;
    font-family: 'Tac One';
}

.burger {
    font-size: 28px;
    background: none;
    border: none;
    cursor: pointer;
    color: #000;
}

.navigation {
    display: none;
}

.nav-list {
    justify-content: space-between;
    flex-direction: column;
    gap: 15px;
}

.nav-link.active::after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    height: 2px;
    background: #966335;
    border-radius: 2px;
}

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-tittle {
    color: #f5f5f5;
    font-size: 50px;
    margin-bottom: 72px;
}

.hero-btn {
    padding: 14px 32px;
    border-radius: 999px;
    background: #BC8554;
    color: #f5f5f5;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-decoration: none;
    transition: 0.3s ease;
    min-width: 150px;
    border: none;
}

.hero-btn:hover {
    background: #966335;
}

.menu-title {
    color: #f5f5f5;
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
}

.menu-filters {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    justify-content: center;
    margin-bottom: 25px;
    margin-top: 30px;

    padding-top: 10px;
}

.filter {
    padding: 10px 10px;
    border-radius: 999px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(10px);
    color: #f5f5f5;
    white-space: nowrap;
    cursor: pointer;
    transition:
            transform 0.25s ease,
            box-shadow 0.25s ease,
            background 0.25s ease;
}

.filter.active {
    background: rgba(255, 255, 255, 0.25);
}
.filter:active {
    transform: scale(0.95);
}

.filter:hover {
    background: rgba(255, 255, 255, 0.25);
}

.menu-item {
    flex-direction: column;
    display: flex;
    gap: 24px;
    margin-left: 10px;
    margin-right: 10px;
}

.menu-card {
    background: rgba(255, 255, 255, 0.14);
    backdrop-filter: blur(14px);
    border-radius: 22px;
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.25);

    transition:
        opacity 0.35s ease,
        transform 0.35s ease;
}

.menu-card.hide {
    opacity: 0;
    transform: scale(0.96);
    pointer-events: none;
}

.menu-card img {
    width: 100%;
    object-fit: cover;
}

.menu-card h3 {
    margin: 16px 16px 4px;
    color: #f5f5f5;
    font-size: 30px;
}

.menu-card span {
    display: block;
    margin: 14px 16px 18px;
    font-weight: 600;
    font-size: 25px;
    color: #1B0D02;
}

.order-btn {
    border: none;
    border-radius: 999px;
    padding: 10px 18px;
    background-color: #BC8554;
    color: #f5f5f5;
    transition: 0.3s ease;
}

.reserve-btn {
    border: none;
    border-radius: 999px;
    padding: 10px 18px;
    background-color: #55362D;
    color: #f5f5f5;
    transition: 0.3s ease;
}

.about {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/about.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    margin-top: 30px;
}

.about-title {
    color: #f5f5f5;
    font-size: 50px;
    text-align: center;
    padding-top: 200px;
}

.about-p {
    color: #f5f5f5;
    font-size: 20px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.about-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.footer {
    background-color: #121212;
    color: #f5f5f5;
    padding-top: 30px;
    padding-left: 10px;
    padding-bottom: 30px;
    text-align: center;
    position: relative;
}

.footer-logo {
    margin-top: 10px;
    color: #BC8554;
    font-family: 'Montserrat Alternates';
}

.footer-info {
    margin-top: 10px;
}

/* modal */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background-color: rgba(0, 0, 0, 0.40);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-visible {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    padding: 72px 24px 24px 24px;
    border-radius: 30px;
    width: 90%;
    max-width: 408px;
    min-height: 584px;
    background-color: #121212;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2)
}

.close-modal-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background-color: #2C2C2C;
    color: #8E8F99;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal-btn:hover,
.close-modal-btn:focus {
    background-color: #505050;
    border: none;
}

.close-modal-btn:hover .icon-modal-btn,
.close-modal-btn:focus .icon-modal-btn {
    fill: #FFFFFF;
}

.icon-modal-btn {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-p {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
}

.form-input {
    margin-bottom: 8px;
    border-radius: 4px;
    max-width: 360px;
}

.form-input-textarea {
    margin-bottom: 16px;
}

.label-form {
    display: block;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: #2E2F42;
}

.input-icon {
    position: relative;
}

.form-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-item {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    padding-left: 38px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #f5f5f5;
}

.input-item:focus {
    border-color: #966335;
}

.input-item:focus+ label {
    color: #966335;
}

.form-text {
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 360px;
    height: 120px;
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    padding: 8px 16px;
    resize: none;
    outline: transparent;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #f5f5f5;
}

.form-text:focus {
    border-color: #966335;
    outline: transparent;
}

.form-btn {
    display: block;
    border-radius: 50px;
    margin-top: 24px;
    margin-bottom: 24px;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #BC8554;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    margin: 0 auto;
    cursor: pointer;
    color: #f5f5f5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-btn:hover,
.form-btn:focus {
    background-color: #966335;
}

/* mobile menu */

.mobile-menu {
    position: fixed;
    top: 0;
    right: -30px;
    width: 85%;
    max-width: 360px;
    height: 100dvh;
    
    padding: 100px 25px;
    
    display: flex;
    flex-direction: column;
    gap: 25px;
    
    background: rgba(18, 18, 18, 0.97);
    backdrop-filter: blur(15px);

    border-radius: 20px;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: -10px 0 60px rgba(0, 0, 0, 0.7);
    
    transform: translateX(100%);
    transition: transform 0.4s ease;
    
    z-index: 1000;
}

.mobile-menu.is-open {
    transform: translateX(0);
    pointer-events: auto;
    z-index: 100;
    right: 0;
}

.mobile-menu-container {
    position: relative;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mobile-menu-close {
    display: flex;
    position: relative;
    top: -75px;
    right: 30px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    padding: 0;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background-color: #2C2C2C;
    color: #8E8F99;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    right: -100%;
}

.mobile-menu-close:focus {
    background-color: #505050;
    border: none;
}

.mobile-menu-nav {
    margin-bottom: auto;
}

.menu-nav-link-list {
    margin-bottom: 20px;
}

.menu-nav-link-list:last-child {
    margin-bottom: 0;
}

.menu-nav-link {
    font-weight: 700;
    font-size: 36px;
    color: #505050;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
}

.menu-nav-link:focus {
    color: #966335;
    color: #966335;
}

/* tablet */
@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }

    .header {
        top: 80px;
        right: 0;
        flex-direction: row;
        padding: 30px;
        border-radius: 16px;
    }

    .mobile-menu {
        display: none;
    }

    .burger {
        display: none;
    }

    .navigation {
        display: flex;
        background: none;
    }

    .nav-list {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 25px;
    }

    .nav-link {
        color: #f5f5f5;
        font-weight: 500;
        font-size: 20px;
        line-height: 150%;
        letter-spacing: 0.02em;
        padding: 24px 0;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .hero-tittle {
        font-size: 100px;
        margin-bottom: 200px;
    }

    .hero-btn {
        padding: 40px 100px;
        font-size: 40px;
    }

    .menu-title {
        margin-top: 60px;
        font-size: 70px;
    }

    .menu-filters {
        margin-bottom: 50px;
        margin-top: 40px;
    }

    .filter {
        padding: 20px 50px;
        font-size: 25px;
    }

    .menu-item {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .menu-card {
        height: 600px;
    }

    .menu-card img {
        height: 70%;
    }

    .menu-card h3 {
        font-size: 40px;
    }

    .menu-card p {
        font-size: 20px;
    }

    .menu-card span {
        font-size: 30px;
    }

    .about {
        margin-top: 60px;
    }

    .about-title {
        font-size: 70px;
        padding-top: 250px;
    }

    .about-p {
        font-size: 30px;
    }

    .about-btn {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    .order-btn {
        font-size: 25px;
        padding: 20px 38px;
        margin-top: 0;
    }

    .reserve-btn {
        font-size: 25px;
        padding: 20px 38px;
        margin-top: 0;
    }

    .footer {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .footer-logo {
        font-size: 30px;
    }

    .footer-info {
        margin-top: 20px;
    }

    .footer-info 
    p,
    a {
        font-size: 20px;
    }
}

/* desktop */

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
    }

    .header {
        top: 20px;
        padding: 15px 25px;
    }

    .nav-link:hover {
        color: #966335;
    }

    .hero-tittle {
        font-size: 70px;
        margin-bottom: 80px;
    }

    .hero-btn {
        font-size: 20px;
        padding: 24px 32px;
        cursor: pointer;
    }

    .hero-btn:hover {
        background-color: #966335;
    }

    .menu-filters {
        padding-top: 10px;
    }

    .filter {
        transition:
            transform 0.25s ease,
            box-shadow 0.25s ease,
            background 0.25s ease;
    }
    
    .filter:hover {
        transform: translateY(-4px);
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    }

    .filter:active {
        transform: scale(0.95);
    }

    .menu-item {
        grid-template-columns: repeat(3, 1fr);
    }

    .menu-card h3 {
        font-size: 30px;
    }

    .menu-card span {
        font-size: 25px;
    }

   .menu-card {
       transition:
           transform 0.35s cubic-bezier(0.22, 1, 0.36, 1),
           box-shadow 0.35s ease;
   }

   .menu-card:hover {
       transform: translateY(-12px);
       box-shadow: 0 25px 45px rgba(0, 0, 0, 0.25);
   }

    .about-title {
        padding-top: 100px;
    }

    .about-p {
        padding-top: 50px;
        padding-bottom: 50px;
        font-size: 25px;
    }

    .order-btn {
        font-size: 20px;
        padding: 24px 40px;
        cursor: pointer;
    }

    .order-btn:hover {
        background: #966335;
    }

    .reserve-btn {
        font-size: 20px;
        padding: 24px 40px;
        cursor: pointer;
    }

    .reserve-btn:hover {
        background: #2B1714;
    }

    .footer {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .footer-info a:hover {
        color: #BC8554;
    }
}